
body {
color: #797979;
background: #f1f2f7;
font-family: 'Open Sans', sans-serif;
padding: 0px !important;
margin: 0px !important;
font-size: 13px;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
}


.bio-graph-heading {
background: #1d8b94;
color: #fff;
text-align: center;
font-style: italic;
padding: 40px 110px;
border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
font-size: 16px;
font-weight: 300;
}

.bio-graph-info {
color: #89817e;
}

.bio-graph-info h1 {
font-size: 22px;
font-weight: 300;
margin: 0 0 20px;
}

.bio-row {
width: 50%;
float: left;
margin-bottom: 10px;
padding:0 15px;
}

.bio-row p span {
width: 100px;
display: inline-block;
}

.bio-chart, .bio-desk {
float: left;
}

.bio-chart {
width: 40%;
}

.bio-desk {
width: 60%;
}


